@font-face {
  font-family: PTRootUIWebLight;
  src: url('/fonts/PT-Root-UI_Light.woff') format('woff');
}

@font-face {
  font-family: ptRegular;
  src: url('/fonts/PT-Root-UI_Regular.woff');
}

@font-face {
  font-family: ptMedium;
  src: url('/fonts/PT-Root-UI_Medium.woff');
}

@font-face {
  font-family: ptBold;
  src: url('/fonts/PT-Root-UI_Bold.woff');
}

body {
  background-color: #fbfbfb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --display-font: 'Londrina Solid', Verdana, Geneva, sans-serif;
  --ui-font: 'PT Root UI', Verdana, Geneva, sans-serif;
}
